@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  font-family: "DM Sans", serif;
  font-size: 16px;
  font-weight: 500;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  padding-bottom: 80px !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}
.center-x {
  margin: 0 auto;
  text-align: center;
}
button {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.planner-modal {
  min-height: 70vh;
  max-height: 70vh;
}
.key-selector {
  max-width: 80px;
}

.global-button-1 {
  font-weight: 500;
  padding: 9px 25px;
  background: rgb(255, 133, 87);
  background: -moz-linear-gradient(
    342deg,
    rgba(255, 133, 87, 1) 0%,
    rgba(215, 79, 36, 1) 100%
  );
  background: -webkit-linear-gradient(
    342deg,
    rgba(255, 133, 87, 1) 0%,
    rgba(215, 79, 36, 1) 100%
  );
  background: linear-gradient(
    342deg,
    rgba(255, 133, 87, 1) 0%,
    rgba(215, 79, 36, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8557",endColorstr="#d74f24",GradientType=1);
  color: var(--main-color-white);
  width: fit-content;
}
main {
  padding: 0px;
  min-height: 93vh;
}

Image {
  border-radius: 0px !important;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: 5.61rem;
  font-weight: 300;
}
h2 {
  font-size: 4.209rem;
  font-weight: 400;
}
h3 {
  font-size: 3.157rem;
  font-weight: 400;
}
h4 {
  font-size: 2.369rem;
  font-weight: 400;
}
h5 {
  font-size: 1.777rem;
  font-weight: 400;
}
h6 {
  font-size: 1.333rem;
  font-weight: 400;
}
small {
  font-size: 0.75rem;
  font-weight: 400;
}
.pwaiconsmenu {
  width: 100%;
  padding: 12px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 12px;
}
.pwaiconsmenu:active {
  background-color: rgb(238, 238, 238);
}

main {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.page-transition {
  opacity: 0;
  background: white;
  transform: translateY(0px);
  filter: blur(1px);
}

.app-menu {
  height: 70px;
  background-color: white;
  position: fixed;
  bottom: 0px;
  z-index: 40;
  width: 100vw;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.app-menu-icons {
  color: #1b1b1b;
  transition: 0.3s;
  size: 2rem;
}
.app-menu-icons[data-active="true"] {
  color: blue;
  font-weight: bold;
}

.sheet-free-chords {
  font-weight: 700;
}

.song-structure {
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 1.1rem;
}

Image {
  overflow: visible;
}
.header-homepage {
  padding: 2rem;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(/images/bg-3.webp);
  background-size: cover;
  background-position: 15%;
  color: white;
}
.mobile-mockup {
  width: 500px;
  height: 500px;
  max-width: 90vw;
  object-fit: contain;
}
.container-sub {
  width: 100%;
  max-width: 96vw;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.team-title-container {
  display: flex;
  justify-content: space-between;
}
.setlist-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
  padding: 0.5rem;
  border-radius: 1rem;
}
.setlist-section p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}
.song-list-setlist {
  padding: 4px;
  border-bottom: 1px solid rgb(210, 210, 210);
  width: 100%;
  max-width: 500px;
  transition: 0.3s;
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr;
}
.song-list-setlist Button {
  margin-right: 0px;
}
.setlist-container-title {
  padding: 1rem;
  position: relative;
}
.song-list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.song-list {
  padding: 1rem;
  border-bottom: 1px solid grey;
  width: 100%;
  max-width: 500px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
.song-list:hover {
  background-color: white;
  transform: scale(1.02);
}

.song-list p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  margin-right: 20px;
}
.song-list small {
  position: relative;
  top: -5px;
  font-weight: 400;
}
.button-style {
  padding: 7px 15px;
  border-radius: 0.5rem;
  color: white;
  background-color: #111111;
  margin-right: 20px;
  margin-left: auto;
}
.button-transpose {
  padding: 10px 30px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 12px;
}
.transpose-button-container {
  display: flex;
  margin: 0px;
  gap: 15px;
  justify-content: left;
  align-items: center;
}

.transopose-section {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 0px 0px 15px;
  border-radius: 12px;
}

.top-song-buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.title-input input {
  font-size: 30px !important;
}
.hero-section {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 30px 80px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: var(--border-radius--lg);
  width: 95vw;
  margin: 0px auto 50px auto;
  position: relative;
  z-index: 0;
  padding: 20vh 9rem;
  background-color: black;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: white;
  overflow: hidden;
}

.hero-section h1 {
  position: relative;
  z-index: 3;
}

.hero-section h6 {
  position: relative;
  z-index: 3;
  max-width: 800px;
  text-align: justify;
}

.container-input-2col {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.section-container {
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #aaaaaa;
}
.hide-input {
  display: none;
}

#textarea-wrapper > div > div {
  height: auto !important;
}

.hidden-input {
  display: none;
}

.navbar-top {
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.song-card-searchBar {
  cursor: pointer !important;
  display: inline-block; /* Ensures consistency across elements */
}
.song-card-searchBar *,
.song-card-searchBar p,
.song-card-searchBar small {
  cursor: inherit !important; /* Forces child elements to inherit the cursor */
}

.chord {
  color: rgb(130, 29, 29);
  font-weight: 800;
  line-height: 0.9rem;
  padding: 0px 2px;
  margin: 0px;
  white-space: pre;
}

.lyrics {
  white-space: pre;

  font-size: 1rem;
}
.comment {
  white-space: pre;

  font-weight: 800;
  text-decoration: underline;
  margin-top: 10px;
}
.menu-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cover-artist-list {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 0.8rem;
}
.chord-sheet .paragraph {
  margin: 0px 0px 20px 0px;
}
.song-title {
  margin: 20px 0px 0px 0px;
  width: 100%;
  font-weight: 800;
}
.song-presentation-container {
  max-width: 600px;
  width: 100%;
  position: relative;
  border: 1px solid #f8f8f8;
  background-color: white;
  padding: 1rem;
  margin: 0px auto;
  border-top: 0px solid #ffffff !important;
}
.maxwidth300 {
  max-width: 300px;
}
tbody tr .tablecellnewteams {
  border: 1px solid #d8d8d8;
  padding: 0em !important;
  padding-bottom: 0rem !important;
}
.table-input {
  padding-left: 5px;
  width: 100%;
  height: 33px;
}
.newteamheader {
  width: 100%;
  margin-left: 0px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.newteamfooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;
}
.tablecellnewteams-name {
  border: 1px solid #d8d8d8;
  padding: 0em !important;
  padding-bottom: 0rem !important;
}

.planner-table {
  margin: 20px 0px;
}
.team-table {
  margin: 20px 0px;
}

.newteamfooter button {
  margin-right: 0px !important;
}
.footermodal {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.view-selector-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 1000px;
  margin: 0px auto;
  justify-content: flex-start;
  align-items: center;
  justify-content: left;
}
.view-selector-container p {
  cursor: pointer;
}
#song-lyrics .chord {
  display: none;
}
.container-song-list {
  margin-top: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%; /* Prevents overflowing */
  justify-content: center;
}

.songlist-link {
  padding: 0px 0px;
  display: inline;
}

.songs-header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  max-width: 500px;
}

.songs-searchbar-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
  max-width: 500px;
}
.song-searchbar {
  width: 300px;
  max-width: 70vw;
}
@media only screen and (max-width: 850px) {
  .header-homepage {
    padding: 2rem;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(/images/bg-3.webp);
  background-size: cover;
  background-position: 15%; */
  }
  .song-list {
    padding: 0.2rem;
  }
  .song-title {
    font-size: 18px;
  }
  input {
    font-size: 16px !important;
  }
  textarea {
    font-size: 16px !important;
  }
  .song-details-selection1 {
    flex-direction: column;
  }
  .chord-sheet .lyrics {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .chord-sheet .chord {
    font-size: 0.9rem;
  }
  .chord-sheet .comment {
    font-weight: 800;
    text-decoration: underline;
  }
}
.loginwithgooglebutton {
  background-color: white;
  border: 1px solid #838383;
}
.TransitionLink svg {
  width: 20px;
}
.icon {
  max-width: 30px;
  transform: rotate(-90deg);
  width: 30px;
  transition: 0.3s;
}
.icon:hover {
  transform: rotate(-135deg);
}
.album-list {
  padding: 1rem;
  border-bottom: 1px solid grey;
  width: 100%;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
.container-album-list-square {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
}
.album-list-square {
  padding: 1rem;
  border-bottom: 1px solid grey;
  max-width: 300px;
  width: 100%;
  height: 300px;
  max-height: 300px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}

.album-list p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  margin-right: 20px;
}
.album-list small {
  position: relative;
  top: -5px;
  font-weight: 400;
}

.container-album-list {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 1200px;
  max-width: 1200px;
}
.albumlist-link {
  width: 100%;
  padding: 0px 0px;
  display: inline;
  cursor: pointer !important;
}

.songlist-link {
  padding: 0px 0px;
  display: inline;
}

.dashboard-sidebar-container {
  position: fixed;
  min-height: 87vh;
  height: 100%;
  min-width: 250px;
  border-radius: 12px;
  padding: 3vh 1rem;
  display: block;
}

.dashboard-li {
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  width: 100%;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 500;
}
.container-dashboard-list {
  margin-top: 10px;
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.dashboard-li:hover {
  background-color: #f0f0f0;
  box-shadow: #0a0a0a;
}
.dashboard-list {
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  transition: 0.3s;
  display: flex;
  gap: 20px;
  justify-content: space-center;
  align-items: center;
  margin: 10px auto;
  border-radius: 0.5rem;
  background-color: rgb(247, 247, 247, 1);
  transition: 0.5s;
}

.dashboard-container {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 30px 0px;
  position: relative;
  margin-left: 20px;
  padding: 1rem;
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dashboard-icon {
  width: 20px;
  overflow: visible;
}

.schedule-presentation {
  width: 600px;
  padding: 3rem;
  aspect-ratio: 1 / 1.414;
}

.event-section-titolo {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.4rem;
  text-decoration: underline;
  font-weight: 600 !important;
  background-color: #dedede;
}

.accordion {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion-panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.event-info-header {
  background-color: #ffffff;

  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.input-small div {
  padding: 0px;
}
.event-sections-body {
  min-height: 500px;
  max-width: 1500px;
  margin: 0px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.event-sections-body > div {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 10px;
}
/* SETLIST SECTION */
.setlist-song {
  padding: 1rem;
  gap: 20px;
  border-bottom: 1px solid grey;
  width: 100%;
  max-width: 500px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 5fr 1fr 1fr;
}
.setlist-list-link {
  cursor: pointer;
  max-width: 500px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.setlistviewmode-container {
  max-width: 500px;
  width: 100%;
  padding: 10px;
}
.setlist-date-avatar {
  top: -4px;
  width: 50px;
  height: 50px;
  background-color: #ffffff00;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: relative;
}
.setlist-list {
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
  max-width: 500px;
  transition: 0.3s;
  display: flex;
  justify-content: space-center;
  align-items: center;
  margin: 0px auto;
  border-radius: 1rem;
  background-color: rgb(247, 247, 247, 0);
  transition: 0.5s;
}
.setlist-list:hover {
  background-color: rgb(247, 247, 247, 1);
}
.setlist-list-id {
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 500px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  border-radius: 1rem;
  background-color: rgb(247, 247, 247, 0);
  transition: 0.5s;
}
.setlist-list-id:hover {
  background-color: rgb(247, 247, 247, 1);
}
.team-list {
  padding: 0.5rem;
  width: 100%;
  max-width: 500px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  border-radius: 1rem;
  background-color: rgb(247, 247, 247, 1);
  transition: 0.5s;
}
.team-list:hover {
  background-color: rgb(247, 247, 247, 1);
}

.team-show {
  border-radius: 1rem;
  position: relative;
  margin: 5px 0px;
  padding: 1rem 0.5rem;
  background-color: rgb(247, 247, 247, 0.7);
}

.setlist-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  width: 70%;
}

.setlist-name-exp {
  width: calc(100% - 70px);
  line-height: 1rem;
}

.setlist-day {
  white-space: nowrap;
  overflow: visible !important;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
}
.setlist-weekday {
  text-transform: capitalize;
  color: #bebebe;
  position: absolute;
  bottom: 0px;
}
.top-settings-bar {
  right: 1rem;
  top: calc(50% - 20px);
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
}

.key-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  height: 40px;
  border-radius: 12px;
  aspect-ratio: 1/1;
}

.center- {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right- {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.crea-setlist-container {
  max-width: 90vw;
  width: 500px;
  margin: 0px auto;
}
.accordian-setlist {
  margin: 5px 0px;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #f2f2f2;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 12px;
}

.selector-author {
  color: #838383;
  font-size: 12px;
}
.autocomplete-mobile-input input {
  font-size: 16px;
}
.song-list small {
  text-transform: capitalize;
}

.ac-setlist {
  min-width: 300px;
}
.two-inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.team-details-input {
  align-items: center;
  margin: 5px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.team-details-input p {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordian-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 212 100% 46.67%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.song-details-selection1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* WEDDERLY INSPO */

.visita-feed-section {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
}

.visita-feed-container {
  max-width: 1400px;
  width: 100%;
  padding: 50px;
  columns: 4;
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.preferite-feed-container {
  width: 100vw;
  padding: 40px;
  columns: 4;
  gap: 20px;
}

@media (max-width: 1400px) {
  .visita-feed-container,
  .preferite-feed-container {
    max-width: 90vw;
    width: 100%;
    padding: 20px;

    columns: 3;
  }
}
@media (max-width: 1000px) {
  .visita-feed-container,
  .preferite-feed-container {
    max-width: 90vw;
    width: 100%;
    columns: 2;
  }
}
@media (max-width: 750px) {
  .visita-feed-container,
  .preferite-feed-container {
    max-width: 90vw;
    width: 100%;
    columns: 1;
  }
}

.image-feed-div-home {
  background: #ffffff;
  max-width: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  height: auto;
  top: 0px;
  transition: 0.19s ease-in-out;
  scale: 1;
}
.image-feed-div-home:hover {
  top: -2px;
  scale: 1.01;
}

.image-feed-home {
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
}

.visita-post-button {
  width: 100%;
  padding: 20px;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 12px 12px;
  color: var(--text-color);
  transition: 0.3s;
  font-size: 15px;
  text-decoration: none;
}
.visita-post-button:hover {
  background-color: var(--bg-color);
}
.content-feed {
  width: 100%;
  z-index: 2;
  position: relative;
}
.titolo-feed {
  position: relative;
  z-index: 3;
  color: var(--text-color);

  display: flex;
  flex-direction: row;
  padding: 5px 5px;
  align-items: center;
}

.profile-pic-feed-post {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-right: 5px;
  position: relative;
  width: 50px;
  z-index: 3;
  border-radius: 8px 0px 8px 0px;
  border: 1px solid #b9b9b9;
  transition: 0.2s ease-in-out;
  left: 0px;
  scale: 1;
}
.profile-pic-feed-post:hover {
  border-radius: 8px;
}
.button-home {
  text-decoration: none;
}
.button-home-div {
  background-color: var(--accent-color);
  padding: 10px 34px;
  color: var(--color-1);
  text-decoration: none;
  border-radius: 6px;
}
.nome-utente-feed {
  font-size: 18px;
}
.ruolo-utente-feed {
  font-size: 13px !important;
}
.container-searchbar h6 {
  margin-top: 16px;
}

.explore-section {
  padding: 80px 10px;
}
.explore-container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.explore-card {
  height: 500px;
  overflow: hidden;
  margin: 0px 10px 0px 10px;
  position: relative;
  border-radius: 24px;
}
.explore-container a {
  min-width: 300px;
  width: auto;
  flex-grow: 1;
}
.exp-c-1 {
}
.exp-c-2 {
}
.exp-c-3 {
}
.exp-c-4 {
}
.exp-c-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.explore-arrow {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  top: 10px;
  background-color: #ffffff8b;
  width: 50px;
  height: 50px;
  z-index: 10;
  svg {
    fill: #373737;
    transform: rotate(-45deg);
  }
}
.title-exp-card {
  position: relative;
  padding: 15px;
  width: 100%;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-exp-card .title-card {
  border-radius: 50px;
  background-color: #ffffff8b;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  padding: 0px 30px;
}

@media (max-width: 1400px) {
  .visita-feed-container,
  .preferite-feed-container {
    width: 1050px;
    padding: 20px;

    columns: 3;
  }
}
@media (max-width: 1000px) {
  .visita-feed-container,
  .preferite-feed-container {
    width: 750px;
    columns: 2;
  }
}

@media (max-width: 750px) {
  .dashboard-sidebar-container {
    display: none;
  }
  .dashboard-container {
    margin-left: 0px;
  }

  .visita-feed-container,
  .preferite-feed-container {
    width: 350px;
    columns: 1;
  }
  .song-presentation-container {
    border: 0px solid #f8f8f8;
    padding: 0px;
  }
}

.card-v1 {
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  box-shadow: rgba(88, 88, 88, 0.2) 8px 8px 18px;
}

.card-v2 {
  border: 1px solid #f1f1f1;
  border-radius: 24px;
  box-shadow: rgba(88, 88, 88, 0.3) 6px 6px 18px;
}

/* PEOPLE SECTION */
.container-people-list {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.people-link {
  padding: 0px 0px;
  display: inline;
  color: black;
  max-width: 500px;
  width: 80vw;
}

.people-list {
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  max-width: 500px;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  border-radius: 0.75rem /* 12px */;
  background-color: rgb(247, 247, 247, 0);
  transition: 0.5s;
}
.people-list:hover {
  background-color: rgb(247, 247, 247, 1);
}

.people-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #d8d8d8;
  padding: 15px;
}
.people-li-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 20px; */
  border-left: 1px solid #aaaaaa;
  align-items: center;
}

/* LOGIN FORM */

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 1.25rem;
  border-radius: 20px;
  --tw-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.auth-form-pwa {
  width: 100%;
  padding: 1rem !important;
  --tw-shadow: none !important;
  --tw-shadow-colored: none !important;
  box-shadow: none !important;
}

/* TEAM MEMBERS */

.teammember-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0.3rem;
}
.teammember-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  /* border-bottom: 1px solid #959595; */
}
.teammember-section p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}
.team-members-skills-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 5px;
}
.input-skill-hidden {
  display: none;
}
.input-skill-show {
  display: block !important;
}

.notification-icon {
  width: 30px;
}

.calendar-date {
  padding-left: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  position: relative;
  height: 100px;
  width: 100%;
  border: 0.5px solid #cbcbcb;
}

.calendar-date-not-selected {
  background-color: #ffffff;
}

.calendar-date-empty {
  background-color: #dedede;
}
.calendar-event {
  cursor: pointer;
  height: 20px;
  width: 100%;
  padding-left: 4px;
  border-radius: 2px 0px 0px 2px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.calendar-event-title {
  position: relative;
  top: -3px;
  left: 2px;
}

.calendar-number {
  position: absolute;
  top: 0px;
  left: 0px;
}

.custom-widget {
  position: absolute;
  top: calc(50%);
  right: 0px;
  z-index: 40;
}

.container-style-list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.number-input {
  border: 1px solid #838383;
  border-radius: 0.5rem;
  padding: 0.2rem;
  max-width: 50px;
}

.chord-sheet .paragraph .row {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.chord-sheet .paragraph .row .column .chord {
  position: relative;

  top: 0px;
}
.chord-sheet .paragraph .row .column .lyrics {
  min-height: 17px;
  min-width: 17px;
}
.chord-sheet .paragraph .row .column {
  position: relative;
}

.avatar-pwa {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.calendar-heroui [data-unavailable="true"] {
  @apply !text-white;
  background-color: hsla(347, 90%, 51%, 0.754);
}

.sidebar-ul {
  padding: 1rem;
}
.sidebar-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  margin: 1rem 0;
  padding: 0.6rem 1rem;
  transition: 0.5s;
  background-color: white;
  border-radius: 0.4rem;
  border: 1px solid white;
}

.sidebar-link:hover {
  background-color: #f7f7f7;
  border: 1px solid #e3e3e3;
}
.logoutcolors{
  color: hsla(347, 90%, 51%, 0.754);
}
.logoutcolors:hover {
  background-color: hsla(347, 90%, 51%, 0.254);
  color:hsla(347, 90%, 51%, 1);
  border: 1px solid hsla(347, 90%, 51%, 0.4);
}
.sidebar-container {
  width: 100%;
  max-width: 300px;
  border-right: 1px solid #e3e3e3;
  height: 87vh;
  background-color: white;
  position: relative;
  z-index: 20;
}
